:host {
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
}

.dot {
  width: var(--space-2);
  height: var(--space-2);
  border-radius: var(--radius-pill);
}
