<div class="row" [class.stackable]="stackable()">
  <div class="row-main">
    <div class="row-title">
      @if (labelFor()) {
        <label class="row-label" [attr.for]="labelFor()">{{ title() }}</label>
      } @else {
        {{ title() }}
      }
      <ng-content select="[rowTitleTip]" />
    </div>
    @if (description()) {
      <div class="row-desc">{{ description() }}</div>
    }
  </div>
  <div class="row-control">
    <ng-content />
  </div>
</div>
@if (error(); as text) {
  <p class="error" role="alert">{{ text }}</p>
}
