<app-auth-shell [title]="'auth.reset.newTitle' | transloco">
  @if (token()) {
    <form (ngSubmit)="submit()" [formGroup]="form">
      <app-field [label]="'auth.reset.newPasswordLabel' | transloco">
        <app-password-input>
          <input type="password" formControlName="password" autocomplete="new-password" />
        </app-password-input>
      </app-field>
      <app-form-error [message]="error()" />
      <app-button block type="submit" variant="primary" [loading]="loading()">{{
        'auth.reset.savePassword' | transloco
      }}</app-button>
    </form>
  } @else {
    <p class="err">{{ 'auth.reset.linkInvalid' | transloco }}</p>
    <a routerLink="/reset-password-request">{{ 'auth.reset.requestNew' | transloco }}</a>
  }
</app-auth-shell>
