<app-auth-shell [title]="'auth.reset.newTitle' | transloco">
  @if (token()) {
    <form (ngSubmit)="submit()" [formGroup]="form">
      <label class="field">
        <span>{{ 'auth.reset.newPasswordLabel' | transloco }}</span>
        <input type="password" formControlName="password" autocomplete="new-password" />
      </label>
      <app-form-error [message]="error()" />
      <app-button type="submit" variant="primary" [loading]="loading()">{{
        'auth.reset.savePassword' | transloco
      }}</app-button>
    </form>
  } @else {
    <p class="err">{{ 'auth.reset.linkInvalid' | transloco }}</p>
    <a routerLink="/reset-password-request">{{ 'auth.reset.requestNew' | transloco }}</a>
  }
</app-auth-shell>
