@if (visible()) {
  <nav class="toc" [attr.aria-label]="'reader.contents' | transloco">
    <button
      class="toc-toggle"
      type="button"
      [attr.aria-expanded]="open()"
      (click)="open.set(!open())"
    >
      <app-icon [name]="open() ? 'expand_more' : 'chevron_right'" size="md" />
      {{ 'reader.contents' | transloco }}
    </button>
    @if (open()) {
      <ul class="toc-list">
        @for (item of entries(); track item.id) {
          <li [class]="'lvl-' + item.level">
            <button type="button" class="reads-as-text" (click)="jump.emit(item.id)">
              {{ item.text }}
            </button>
          </li>
        }
      </ul>
    }
  </nav>
}
