@if (tags().length) {
  <span class="pills">
    @for (t of tags(); track t.id) {
      <a
        class="pill"
        [routerLink]="[]"
        [queryParams]="{ tag: t.id, view: null, subscription: null, entry: null }"
        queryParamsHandling="merge"
        [attr.title]="'reader.filterByTag' | transloco: { name: t.name }"
        (click)="$event.stopPropagation()"
      >
        <app-tag-glyph [name]="t.icon" [color]="t.color" size="text" />
        {{ t.name }}
      </a>
    }
  </span>
}
