<app-auth-shell
  [title]="'auth.reset.requestTitle' | transloco"
  [subtitle]="'auth.reset.requestSubtitle' | transloco"
>
  @if (done()) {
    <p class="ok">{{ 'auth.reset.requestDone' | transloco }}</p>
    <a routerLink="/login">{{ 'auth.backToSignIn' | transloco }}</a>
  } @else {
    <form (ngSubmit)="submit()" [formGroup]="form">
      <app-field [label]="'auth.email' | transloco">
        <input type="email" formControlName="email" autocomplete="email" />
      </app-field>
      <app-form-error [message]="error()" />
      <app-button block type="submit" variant="primary" [loading]="loading()">{{
        'auth.reset.sendLink' | transloco
      }}</app-button>
    </form>
    <p class="links">
      <a routerLink="/login">{{ 'auth.backToSignIn' | transloco }}</a>
    </p>
  }
</app-auth-shell>
